# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# PyInstaller build folders
build/
dist/
*.spec

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# IDE/editor configs (add yours if needed)
.vscode/
.idea/
